.jumbotron {
  margin-left: 50px;
  margin-right: 50px;
  background-color: black;
  font-family: 'Monoton', cursive;
  color: #fff;
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #ff0080, 0 0 30px #ff0080, 0 0 40px #ff0080, 0 0 55px #ff0080, 0 0 75px #ff0080;
  text-align: center;
  border: 3px solid #fff;
  box-shadow: 0 0 2.5px #fff, 0 0 5px #fff, 0 0 10px #f6ec70, 0 0 15px #f6ec70, 0 0 20px #f6ec70, 0 0 27.5px #f6ec70, 0 0 37.5px #f6ec70;
  border-radius: 8px !important;
  width: 80% !important;

}

.title {
  font-size: 50px !important;
}

.guesses {
  font-family: 'Dosis', sans-serif;
}